
#chat-room {
	width: 100%;
}


#mybubble {
	display: flex;
	margin-bottom: 2%;
	/* position: relative;
	left: 70%; */
	direction: rtl;

}



#yourbubble {
	display: flex;
	margin-bottom: 2%;

}



 #bubble-profile{
	font-weight: bold;
	font-size: 15px;
	margin-top: -1%;
	padding-left: 1%;
	padding-right: 1%;
	height: inherit;
}

#bubble-name{
	font-weight: bold;
	font-size: 15px;
	width: 5%;
	height: inherit;
	text-align: center;

}


#bubble-image {
	border-radius: 50%;
	text-align: center;
	width: 60px;
	height: 60px;

}

#bubble-time{
	font-weight: 600;
	margin-top: 1%;
}




 
#chat-room  #myMessage{
	font-size: 15px;
	background-color: #e8d7f4;
	border-radius: 40px;
	text-align: right;
	width: max-content;
	word-break: break-all;
	font-size: 17px;
	position: relative;
	height: 50px;
	border-radius: 40px;
	margin: 10px;
	padding: 0.6% 1.5% 0 1.5%;
	
}
#chat-room #yourMessage  {
	font-size: 15px;
	background: #E9E9EB;
	border-radius: 40px;
	text-align: left;
	margin-bottom: 10px;
	width: max-content;
	word-break: break-all;
	font-size: 17px;
	position: relative;
	height: 50px;
	border-radius: 40px;
	margin: 10px;
	padding: 0.6% 1.5% 0 1.5%;
}

#imgMessage {
	border: 3px solid #e8d7f4;
	border-radius: 20px;
	padding: 2%;

}



#room {
	background-color: #ffffff

}

